@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-5">Umar Kamalitdinov's Gym Management Application</h2>
    <p>Here's my <a href="https://gymmanagement20241129.azurewebsites.net"> published app</a>.</p>
</div>
